@import '~@angular/material/theming';

canvas{
  background-color: whitesmoke;
  border: solid 3px #ff7347;

  font-size: 24px;

  text-align: center;
}



.wrap{
  position: center;
  margin: 40px;

  width: 1000px;

  height: 1000px;

}

#info{
  position: absolute;
  background-color: white;
  border: white 20px solid;
  color: white;
  left: 0px;
  top: 0px;
  visibility: hidden;
  @include mat-elevation(4)
}
