<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Timeline</h4>
                <p class="card-category">Show device
                    <select required
                            class="form-control"
                            id="timelineSelector"
                            style="display:inline!important; width:162px;"
                            (change)="getTimeline();"
                            [(ngModel)]="deviceMac">
                        <option *ngFor="let mac of macList">
                            {{mac}}
                        </option>
                    </select>
                     movements
                </p>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="wrap">
                        <canvas baseChart
                                id="timelineChart"
                                [datasets]="scatterChartDataSet"
                                [options]="scatterChartOptions"
                                [chartType]="scatterChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
