<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Timeline</h4>
                <p class="card-category">Show device
                    <select required
                            class="form-control"
                            id="timelineSelector"
                            style="display:inline!important; width:167px;"
                            (change)="getTimeline();"
                            [(ngModel)]="deviceMac">
                        <option *ngFor="let mac of macList">
                            {{mac}}
                        </option>
                    </select>
                    movements
                </p>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="wrap">
                        <canvas id="timelineChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <p class="card-category">Timelapse: use this slider to go back in time</p>

                <div class="text-center">
                    <mat-slider id="slider"
                                step="1"
                                [(ngModel)]="index"
                                [min]=min
                                [max]=max
                                (input)="updateTimeline($event)"
                                style="min-width: 90%;"
                    ></mat-slider>
                </div>

                <p class="card-category" id='date' style="margin-top: 16px;">
                    <i class="fa fa-history" id="radarUpdatingFrequency"></i>
                     Showing location of {{data}}
                </p>
            </div>
        </div>
    </div>
</div>
