<div class="sidebar-wrapper">
    <div class="logo"><a class="simple-text" href="http://www.creative-tim.com">
        <div class="logo-image-small">
            <img src="https://github.com/marcomicera/followifier/raw/master/media/logo.png">
        </div>
    </a></div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
