  <mat-toolbar color="color" class="mat-elevation-z6">
    <mat-toolbar-row class="mat-height">

      <span class="toolbar-spacer"></span>

      <!-- Large screen -->
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="" class="menu-link" mat-button>
          <mat-icon>person_pin</mat-icon> Home
        </a>
        <a  routerLink="/chart" class="menu-link" mat-button>
          <mat-icon>exit_to_app</mat-icon> Chart
        </a>
        <a  routerLink="/stats" class="menu-link" mat-button>
          <mat-icon>person_add</mat-icon> Stats
        </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>


