p {
  font-family: Lato;
}
table{
  width: 40%;
}
mat-label{
  color: darkgrey;
}

canvas{
  background-color: whitesmoke;
  border: solid 3px #ff7347;
  font-size: 24px;
  text-align: center;
}



.chart-wrapper{
  float: right;
  width:40%;
  margin-right: auto;
  height: 1000px;
}
.wrap{
  float: left;
  width:40%;
  height: 1000px;
  margin-left: auto;
}
