@import '~@angular/material/theming';

canvas{
  background-color: aliceblue;
 }

.wrap{
  position: relative;
  margin: 16px;
}

#info{
  position: absolute;
  background-color: white;
  border: black 1px solid;
  color: black;
  left: 0px;
  top: 0px;
  visibility: hidden;
  @include mat-elevation(4)
}
